/* GLOBAL ---------------------------------------------*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: linear-gradient(rgb(236, 236, 236), rgb(255, 255, 255)) no-repeat;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
}

/* CONTENIDO ---------  ---------------------------------*/
.content {
    display: flex;
    align-items: center;
    margin-left: 15vw;
    height: 100vh;
}

/* CALENDARIO -----------------------------------------*/
/* AMBOS ----------*/
#calendar {
    position: relative;
    margin: auto;
    width: 65vw;
    box-shadow: 2px 2px 10px rgb(151, 151, 151); 
}

#calendar table {
    border-collapse: collapse;
    border: 1px solid rgb(187, 187, 187);
    width: 100%; /* Tamaño horizontal */
    cursor: default;
}

/* TABLA MES ----------*/
#calendar table.month {
    border-bottom: none;
}

#calendar .month th {
    background-color: rgb(241, 197, 61);
    height: 3vw;
    font-size: 2.5vw;
}

/* TABLA DIA ----------*/
#calendar table.day {
    border-top: none;
    border-bottom: none;
}

#calendar .day th {
    background-color: rgb(248, 206, 78);
    height: 2vw;
    font-size: 1.3vw;
    width: 14.2857%;
}

/* TABLA DE CONTENIDO */
#calendar .dayBox {
    height: 42vw;
}

#calendar .dayBox td {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgb(187, 187, 187);
    vertical-align: top;
    font-size: 1vw;
}

#calendar .dayBox td:hover {
    background-color: rgb(236, 236, 236) !important;
}

/* SEXTA FILA */
#calendar .dayBox .hiddenRow {
    display: none;
}

/* ICONOS DE NAVEGACIÓN */
.navIcon {
    margin: 0 auto;
    cursor: pointer;
}

.navIcon i {
    font-size: 4vw;
    color: rgb(51, 99, 221);
}

.navIcon i:hover {
    color: rgb(68, 114, 231);
}

/* SIDEBAR --------------------------------------*/
#sidebar {
    width: 15vw;
    background-color: rgb(76, 117, 221);
    left: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    position: fixed;
    box-shadow: 2px 2px 10px rgb(151, 151, 151); 
    color: rgb(255, 255, 255);
    cursor: default;    
    z-index: 3;
}

#sidebar h1 {
    font-size: 1.5vw;
    text-align: center;
}

#sidebar hr {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, rgb(180, 180, 180), rgb(235, 235, 235), rgb(180, 180, 180));
    margin: 0;
}

#sidebar .menu {
    font-size: 1vw;
}

#sidebar .menu div {
    width: 100%;
    padding: 0.5vw 1vw;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#sidebar .menu div:hover {
    background-color: rgb(88, 128, 230);
}

#sidevar .menu p {
    font-size: 1vw;
}

#sidebar .menu i {
    font-size: 2vw;
    padding-right: 0.3vw;
}

/* USER */
#sidebar .user h3 {
    text-align: center;
    margin-top: 0;
    font-size: 1.3vw;
}

#sidebar .user i {
    font-size: 5vw;
    width: 100%;
    text-align: center;
    margin-bottom: 0;
    padding-top: 1vw;
}

/* OVERLAY --------------------------------------*/
#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 15vw;
    display: none;
    margin: auto;
}

#overlay .overlayWindow {
    background-color: rgb(250, 250, 250);
    width: 80%;
    margin: 2vh auto 2vh auto;
    max-height: 96vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#overlay .overlayWindow .title {
    height: auto;
    background-color: rgb(248, 206, 78);
    width: 100%;
    position: sticky;
    top: 0;
    text-align: center;
    align-items: center;
}

#overlay .overlayWindow .title h1 {
    font-size: 2vw;
    margin: 0;
    display: inline-block;
    
}

#overlay .overlayWindow .title .closeIcon i {
    color: rgb(223, 0, 0);
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-size: 2vw;
}

#overlay .overlayWindow .title .closeIcon i:hover {
    color: rgb(255, 38, 38);
}

#previousNav, #nextNav {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 2.2vw;
    display: inline-block;
    
}

#overlay .overlayWindow .bottomContent {
    height: 1000px;
}