hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
}

body {
    background-color: rgb(236, 236, 236);
    font-family: Arial, Helvetica, sans-serif;
}
/*---------------------------------------------------------------*/
.content {
    width: 100%;
    display: flex;
    align-items: center;
}
/*---------------------------------------------------------------*/
.navegation {
    width: 5%; /* Tamaño de cada botón de navegación */
    float: left;
}

.navegation i {
    font-size: 5vw; /* Tamaño del ícono */
    text-align: center;
    cursor: pointer;
    color: rgb(113, 160, 199);
}

.navegation i:hover {
    color: rgb(77, 128, 170);
}
/*---------------------------------------------------------------*/
.calendar {
    font-size: 14px;
    cursor: default;
    width: 89%; /* Tamaño de la tabla */
    float: left;
}

.calendar td {
    border: 1px solid rgb(185, 185, 185);
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
    width: 14.2857%;
    min-height: 60px;
    height: 106px;
}

.calendar td:hover {
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}

.calendar th {
    text-align: center;
    border-collapse: collapse;
}

.calendar table {
    border-collapse: collapse;
    background-color: rgb(241, 241, 241);
    width: 100%;
    min-width: 700px;
}

.calendar tr.month {
    background-color: rgb(98, 149, 190);
    border-collapse: collapse;
    border: 1px solid rgb(185, 185, 185);
    border-bottom: none;
    font-size: 40px;
    border-bottom: none;
}

.calendar tr.day {
    background-color: rgb(113, 160, 199);
    font-size: 20px;
    border-collapse: collapse;
    border: 1px solid rgb(185, 185, 185);
    border-top: none;
}
